player-connection-mode=Listen
player-connection-guid=1872334535
player-connection-debug=1
player-connection-project-name=Siedler von Catan
player-connection-ip=100.116.9.118
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=1
hdr-display-enabled=0
gc-max-time-slice=3
